<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%block title%} Web Page {%endblock%}</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: aqua;
        }
        header{
            background-color: #017ffe;
            padding: 10px 20px;
            color: rgb(120, 241, 211);
        }
        footer{
            background-color: rgb(17, 17, 160);
             padding: 10px 20px;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h2>Prameth</h2>
        <nav><a href="/about">about</a></nav>
        <nav><a href="/contact">contact</a></nav>
    </header>
    {% block content %}
    <h1>Welcome to my website!</h1>
    <p>This is a simple web page using Flask and Jinja2 templating.</p>
    {% endblock %}
    <footer>
        <p> @C all laws are reserved under Indian Penal Court</p>
    </footer>
</body>
</html>